html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue", "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
#tabs-wrapper {
  min-height: 100%;
  min-width: 100%;
}
body > #page-wrapper > #loader-wrapper,
body > #page-wrapper > #root-content-wrapper {
  display: none;
}
#content-wrapper {
  visible: hidden; /* The loader will unhide it */
}

#loader-table-wrapper {
  background-color: #FFF;
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  height: 100%;
}
#loader-table-wrapper table,
#loader-table-wrapper table tbody,
#loader-table-wrapper table tbody tr,
#loader-table-wrapper table tbody tr td {
  font-family: "HelveticaNeue", "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align:center;
}
.ui-tabs-panel {
  position: relative;
  min-height: 300px;
}
.topic-index-group-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #FFF;
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  position: relative;
}
.topic-index-group-wrapper .topic-index-header {
  padding: 0;
  margin: 0;
  min-width: 500px;
  width: 100%;
  border: 0;
}
.ui-widget {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
}
.ui-widget-content {
  background: none;
}
.ui-widget-header {
}
.ui-state-default {
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.topic-group-label {
  text-align: center;
  font-weight: bold;
}
.topic-group-name-wrapper {
  font-size: 1.5em;
  text-align: center;
}

.topic-list-element,
.topic-index-header {
  width: 100%;
  border-collapse: collapse;
}
.topic-list-element .name,
.topic-index-header .name {
  width: 40%;
}
.topic-list-element .comment-count,
.topic-index-header .comment-count {
  width: 20%;
  text-align: center;
}
.topic-list-element .last-comment-time,
.topic-index-header .last-comment-time {
  width: 20%;
  text-align: center;
}
.topic-list-element .last-commenter-name,
.topic-index-header .last-commenter-name {
  width: 20%;
  text-align: center;
}
.topic-list-element tr:hover {
  background-color: beige;
}




.ui-tooltip-forum {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
}

.ui-tooltip-forum img {
  max-width: 250px;
}

#background-color,
#background-image {
  top: 0;
  left: 0;
}
#background-color {
  position: absolute;
  background-color: white;
  z-index: -5001;
  bottom: 0;
  right: 0;
}
#background-image {
  position: fixed;
  z-index: -5000;
}


