html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#mainTab {
}
#loader {
  font-family: "HelveticaNeue", "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #FFF;
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 5px;
  border: 2px solid #ccc;
  top: 0;
  left: 0;
}
#pageHolder {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  display: none;
}

.ui-tabs-panel {
  position: relative;
  min-height: 300px;
}
.frame {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #FFF;
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
#topicGroup #topicTable {
  padding: 0;
  margin: 0;
  min-width: 500px;
  width: 100%;
  border: 0;
}
#topicGroup #topicTable #topicName{
}
#topicGroup #topicTable #commentCount {
}
#topicGroup #topicTable #lastCommentTime {
}
#topicGroup #topicTable #lastCommenterName {
}

#backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5000;
}

.ui-widget {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
}
.ui-widget-content {
  background: none;
}
.ui-widget-header {
}
.ui-state-default {
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

#topicGroupName {
  text-align:center;
  margin:0 auto;
  font-weight: bold;
}
div#topicGroup table#topicTable {
  border-collapse: collapse;
}
div#topicGroup table#topicTable tbody tr#topicHeader.mouseover {
  background-color:beige;
}
div#topicGroup table#topicTable tbody tr#topicHeader {
  cursor: default;
  height: 30px;
}
div#topicGroup table#topicTable tbody tr#topicHeader td#topicName,
div#topicGroup table#topicTable tbody tr#topicHeader td#lastCommenterName {
  cursor: pointer;
}
div#topicGroup table#topicTable tbody tr#topicHeader td#topicName:hover,
div#topicGroup table#topicTable tbody tr#topicHeader td#lastCommenterName div#userDiv:hover {
  text-decoration: underline;
}
.ui-tooltip-forum {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2em;
}

.ui-tooltip-forum img {
  max-width: 250px;
}

