html,
body {
  background-color: white;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#pageHolder {
  min-height: 100%;
  min-width: 100%;
  background-color: #FFF;
  position: absolute;
  display: none;
}

