html,
body {
  background-color: white;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
#pageLoader {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
#pageHolder {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  display: none;
}

.frame {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #FFF;
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
#topicGroup #topicTable {
  padding: 0;
  margin: 0;
  min-width: 500px;
  width: 100%;
  border: 0;
}
#topicGroup #topicTable #topicName{
}
#topicGroup #topicTable #commentCount {
}
#topicGroup #topicTable #lastCommentTime {
}
#topicGroup #topicTable #lastCommenterName {
}

#backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5000;
}

.ui-widget {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
}
.ui-widget-content {
  background: none;
}
.ui-widget-header {
}
.ui-state-default {
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

#topicGroupName {
  text-align:center;
  margin:0 auto;
  font-weight: bold;
}
